---
name: Flake8 Analysis
on: [push, pull_request]

permissions: {}  # Setting default permissions to none for enhanced security

jobs:
  flake8:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # to get PR metadata
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    name: Flake8 Analysis
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Flake8 Scan
        uses: reactive-firewall/flake8-cq@2dd0d2dfd8649a6091c8b858e357197ca1b193b0  # v2.2
        with:  # optional arguments
          config: '.flake8.ini'
          match: '**/*.py'
          publish-artifacts: false
        if: ${{ success() }}
