---
name: Flake8 Analysis
on: [push, pull_request]

permissions: {}  # Setting default permissions to none for enhanced security

jobs:
  flake8:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # to get PR metadata
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    name: Flake8 Analysis
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Flake8 Scan
        uses: reactive-firewall/flake8-cq@4814c661364bed90ef63e0fbfcf0a73507bcf324  # v2.1
        with:  # optional arguments
          config: '.flake8.ini'
          match: '**/*.py'
          publish-artifacts: false
        if: ${{ success() }}
